*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.recommenders/

# MacOS
.DS_Store

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
Assignments/VietPQ/unknown/src/unknown/unknown.java
Assignments/VietPQ/quanlinhanvien/src/ffse1703/javacore/oop2/model/sinhvien.java
